.error, .info {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.info {
  color: green !important;
}

.usersheader {
  font-weight: 700;
}

.titleauthor {
  font-size: 24px;
}